* { padding:0; margin:0; outline:0; }
body {
	background:#fff url(images/body.gif) repeat-x 0 0;
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size:12px;
	line-height:16px;
	color:#636363;
}
input, textarea, select { font-family: "Trebuchet MS", Arial, sans-serif; font-size:12px; }

.field { background:#ebebeb; border:solid 1px #dedede; padding:2px;}

a img { border:0; }

a { color:#8b0000; text-decoration: underline; cursor:pointer; }
a:hover { color:#666; text-decoration: none; }

.left, .alignleft { float:left; display:inline; }
.right, .alignright { float:right; display:inline; }

.cl { font-size:0; line-height:0; clear:both; display:block; height:0; }

.al { text-align: left; }
.ar { text-align: right; }
.ac { text-align: center; }

h2 { font-size:14px; line-height:16px; }
h3 { font-size:12px; line-height:14px; text-transform: uppercase; color:#000; }
h4 { font-size:12px; line-height:14px; text-transform: uppercase; color:#000; }


h1#logo { font-size:0; line-height:0; width:156px; height:64px; float:left; }
h1#logo a{ display:block; height:64px; text-indent: -4000px; background:url(images/logo.jpg); }

.shell { width:960px; margin:0 auto; padding:10px; background:#fff; }

#header { height:64px; background:url(images/header.gif); position:relative;}

#navigation { float:right; white-space:nowrap; }
#navigation ul{ list-style-type: none; height:64px; font-weight: bold; float:left;}
#navigation ul li{ float:left; display:inline; }
#navigation ul li a{ float:left; height:64px; line-height:64px; text-decoration: none; color:#fff; padding:0 15px;}
#navigation ul li a.active,
#navigation ul li a:hover{ background:#fff; color:#8b0000; }

#cart { float:right; width:160px; top:0; right:0; height:51px; background:#8b0000; color:#fff; padding:13px 10px 0 10px; white-space:nowrap; line-height:20px;}
a.cart-link { color:#fff; background:url(images/cart-link.gif) no-repeat 0 0; padding:0 0 0 32px; text-decoration: none;}
a.cart-link:hover { text-decoration: underline;}

#sidebar { float:left; width:226px;}
#content { float:right; width:724px;}

#main { padding:10px 0 0 0; }

.box { padding:1px; border:solid 1px #dedede; margin-bottom:10px;}
.box h2{ background:#7f7f7f; color:#fff; font-weight: normal; padding:0 5px; position:relative; height:27px; line-height:27px; }
.box h2 span{ position:absolute; width:10px; height:5px; background:url(images/h2-arr.gif); top:27px; right:10px; font-size:0; line-height:0;}
.box-content { padding:5px;}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
a.bul { background:url(images/bul.gif) no-repeat 0 center; padding-left:10px;}

.search { min-height:252px;}
.search label { display:block; padding-bottom:3px; }

.search .field { display:block; margin-bottom:10px; }
.search .inline-field label { display:inline; padding:0; }
.search .inline-field .field { display:inline; margin:0; }
.search input.field { width:206px; }
.search select.field { width:212px; }
.search select.small-field { width:50px; }

.search-submit { width:70px; background:#8b0000; border:0; color:#fff; height:27px; display:block; line-height:26px; cursor:pointer; margin:12px 0 10px 0;}

.categories { min-height:383px; }
.categories ul { list-style-type: none; font-size:13px;}
.categories ul li{ border-bottom:dashed 1px #ccc; padding:5px 0;}
.categories ul li.last{ border-bottom:0; padding-bottom:0;}
.categories ul li a{ color:#5f5f5f; text-decoration: none; background:url(images/cat.gif) no-repeat 0 4px; padding-left:17px;}
.categories ul li a:hover{ color:#8b0000; }

#slider { height:252px; position:relative; overflow:hidden; }
#slider-holder { width:720px; height:252px; position:relative; overflow:hidden; }
#slider-holder .jcarousel-clip{ width:720px; height:252px; position:relative; overflow:hidden; }
#slider-holder ul{ width:720px; height:252px; position:relative; overflow:hidden; list-style-type: none;}
#slider-holder ul li{ width:720px; height:252px; position:relative; overflow:hidden; float:left; }

#slider-nav { position:absolute; top:231px; left:644px; z-index:2;}
#slider-nav a{ font-size:0; line-height:0; text-indent: -4000px; width:10px; height:10px; border:solid 1px #8b0000; background:#8b0000; float:left; margin-right:5px; }
#slider-nav a:hover,
#slider-nav a.active { background:#fff;}

.products {}
.products ul{ list-style-type: none;}
.products ul li{ position:relative; padding:1px; border:solid 1px #dedede; float:left; width:231px; margin-right:9px; height:383px; overflow:hidden; }
.products ul li.last{ margin-right:0; }

.product-info{ position:absolute; width:153px; top:194px; left:0;}
.product-info h3{ background:#8b0000; color:#fff; padding:6px 10px; }
.product-info h4{ font-weight: normal;}
.product-info p{ font-size:16px; line-height:18px; text-transform: uppercase; font-weight: bold; color:#000; padding:5px 0 7px 0;}
.product-info .product-desc{ padding:10px; background:url(images/info.png); width:133px; }

.price { display:block; font-size:21px; color:#8b0000; line-height:23px; }

.more-products { border:solid 1px #dedede; position:relative; height:114px; overflow:hidden; }
.more-products ul{ list-style-type: none; height:94px; position:relative; overflow:hidden; width:805px;}
.more-products ul li{ float:left; width:94px; height:94px; border-right:dashed 1px #ccc; padding:0 10px;}
.more-products ul li.last{ border-right:0; }

.more-products-holder { width:804px; height:94px; position:relative; overflow:hidden; top:10px; left:70px;}
/*.more-products-holder .jcarousel-clip{ width:804px; height:94px; position:relative; overflow:hidden; }*/

.more-nav { font-size:0; line-height:0;}
.more-nav a{ position:absolute; top:40px; left:0; width:30px; height:32px; text-indent: -4000px; z-index:3;}
.more-nav a.next{ background:url(images/next.gif); left:910px;}
.more-nav a.prev{ background:url(images/prev.gif); left:20px;}

.cols { padding:15px 0;}
.col { float:left; display:inline; width:217px; margin-right:30px;}
.col-last { margin-right:0;}

h3.ico { background-repeat:no-repeat; background-position:0 2px; padding:6px 0 8px 30px;}
h3.ico1 { background-image:url(images/ico1.gif);}
h3.ico2 { background-image:url(images/ico2.gif);}
h3.ico3 { background-image:url(images/ico3.gif);}
h3.ico4 { background-image:url(images/ico4.gif);}

#footer { height:51px; background:#ebebeb; white-space:nowrap; line-height:50px; padding:0 15px; color:#7b7b7b; margin-top:10px;}
#footer a{ color:#7b7b7b; text-decoration: none;}
#footer a:hover{ color:#000;}
#footer span{ padding:0 2px;}

/** 以下是必要样式 **/

/* menu */
.menu{position:relative;width:1210px;margin:0px auto;height:40px;background-color:#E4393C;}
.menu div{position:absolute;top:0px;height:40px;font-family:"Microsoft Yahei";}
.menu .all-sort{left:0px;width:210px;text-align:center;font-size:14px;}
.menu .all-sort a{color:#FFF;display:block;width:100%;height:100%;line-height:40px;}
.menu .ad{right:0px;width:141px;}
.menu .nav{left:210px;}
.menu .nav ul li{float:left;width:85px;line-height:40px;}
.menu .nav ul li a{display:block;width:100%;color:#FFF;text-align:center;font:700 15px/40px "Microsoft Yahei";}
.menu .nav ul li a:hover, .menu .nav ul li a.current{background:#A40000;text-decoration:none;}

.wrap{width:1210px;margin:0px auto;}
.all-sort-list{position:relative;width:203px;border:2px solid #E4393C;border-top:none;padding:3px 3px 3px 0px;background:#FAFAFA;}
.all-sort-list .item{height:30px;border-top:1px solid #FFFFFF;}
.all-sort-list .item.bo{border-top:none;} 
.all-sort-list .item h3{height:28px;line-height:28px;border:1px 0px;font-size:14px;font-weight:normal;width:199px;overflow:hidden;}
.all-sort-list .hover h3{position:relative;z-index:13;background:#FFF;border-color:#DDD;border-width:1px 0px;border-style:solid;}
.all-sort-list .item span{padding:0px 5px;color:#A40000;font-family:"\5B8B\4F53";} 
.all-sort-list .item a{color:#000;text-decoration:none;}
.all-sort-list .item a:hover{font-weight:bold;color:#E4393C;}


.all-sort-list .item-list{
	display:none;
	position:absolute;
	width:705px;
	min-height:200px;
	_height:200px;
	background:#FFF;
	left:198px;
	box-shadow:0px 0px 10px #DDDDDD;
	border:1px solid #DDD;
	top:3px;
	z-index:10;
}
.all-sort-list .item-list .close{
	position:absolute;
	width:26px;
	height:26px;
	color:#FFFFFF;
	cursor:pointer;
	top:-1px;
	right:-26px;
	font-size:20px;
	line-height:20px;
	text-align:center;
	font-family:"Microsoft Yahei";
	background:rgba(0, 0, 0, 0.6);
	background-color:transparent\9;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, startColorstr='#60000000', endColorstr='#60000000');
}

.item-list .subitem{float:left;width:477px;padding:0px 4px 0px 8px;}
.item-list .subitem dl{border-top:1px solid #EEE;padding:6px 0px;overflow:hidden;zoom:1;}
.item-list .subitem .fore1{border-top:none;}
.item-list .subitem dt{float:left;width:54px;line-height:22px;text-align:right;padding:3px 6px 0px 0px;font-weight:700;color:#E4393C;}
.item-list .subitem dt a{color:#E4393C;text-decoration:underline;}
.item-list .subitem dd{float:left;width:415px;padding:3px 0px 0px;overflow:hidden;}
.item-list .subitem dd em{float:left;height:14px;line-height:14px;padding:0px 8px;margin-top:5px;border-left:1px solid #CCC;font-family:"黑体";}
.item-list .subitem dd em a, .item-list .cat-right dd a{color:#666;text-decoration:none;font-family:"黑体";}
.item-list .subitem dd em a:hover, .item-list .cat-right dd a:hover{font-weight:normal;text-decoration:underline;font-family:"黑体";}
.item-list .cat-right{float:right;width:210px;}
.item-list .cat-right dl{width:194px;padding:6px 8px;}
.item-list .cat-right dd{padding-top:6px;line-height:22px;overflow:hidden;padding:3px 0px 0px;}
.item-list .cat-right dt{padding:3px 6px 0px 0px;font-weight:700;color:#E4393C; }
.item-list .cat-right dd a:hover{color:#666;}
